@font-face{
    font-family: 'PartyConfetti';
    src: url("PartyConfetti.ttf")
}

:root{
    --card-size: 350px
}
/*#1b202b*/
nav{
    width: 1fr;
    background-color: rgb(36, 42, 55);
    top: 0;
    padding: 0px;
    margin: 0px;
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 1px solid #1b202b;
    height: 60px;
    padding-top: 10px;
    z-index: 1;
}
.title {
    text-decoration: none;
    font-size: max(40px,3vw);
    font-family: 'PartyConfetti';
    color: white;
    padding-left: 15px;
    
}
.title:link .title:visited{
    color: #ffff;
}
body{
    background:#2f3747;
    margin: 0px;
}
#main-content{
    padding-left: 30px;
}
#sets {
    font-family: 'PartyConfetti';
    color: #ffffff;
    font-size: max(2vw, 25px);    
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--card-size) + 10px), 1fr));
    min-height: 400px;
}
.card{
    margin: 15px;
    height: 200px;
    width: 350px;
    border-radius: 25px;
    background: #586580;
    box-shadow: 10px 10px #212631;
    bottom: 0px;
    transition: 350ms;
    cursor: pointer;
}

.card:hover{
    background: #7486a9;
    position: relative;
    box-shadow: 20px 20px #212631;
    transform: translateY(-10px) translateX(-10px);
    z-index: 0;
}

.create{
    margin: 15px;
    height: 200px;
    width: 350px;
    background: #586580;
    border-radius: 25px;
    box-shadow: 10px 10px #212631;
    bottom: 0px;
    /* border: 5px dotted #7486a9; */
    transition: 350ms;
    position: relative;
    cursor: pointer;
}

#sudo{
    left: -15px;
    top: -215px;
    margin: 15px;
    height: 200px;
    width: 350px;
    background: transparent;
    border-radius: 25px;
    bottom: 0px;
    /* border: 5px dotted #7486a9; */
    transition: 350ms;
    position: relative;
    cursor: pointer;
}

.border{
    height: 190px;
    width: 340px;
    background: transparent;
    border-radius: 25px;
    /* box-shadow: 10px 10px #212631; */
    bottom: 0px;
    border: 5px dotted #7486a9;
    transition: 500ms;
    position: relative;
    cursor: pointer;
}
.create p{
    position: absolute;
    top: -104%;
    left: 32%;;
    font-size: 200px;
    font-family: 'PartyConfetti';
    color:#7486a9;
    text-shadow: 7px 7px #212631;
    transition: 500ms;
}



